body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color:#ffffff;
    color: #000000;
    padding: 0.5rem;
    height: auto;  
}

.clearfix:after {
    content: '';
    display:block;
    clear:both;
 }

header .logo {
    float: left;
}

.topnav {
    overflow: hidden;
}

header h1 {
    margin: 0 auto;
    font-size: 1.5rem; 
}

.container {
    position: relative;
    max-width: 10px; 
    margin: 0 auto; 
}
  
.container .content {
    position: absolute; 
    bottom: 525px;
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
}
  
header h2 {
    margin: 0;
    color: #00589c;
    padding: 2rem;
}
nav ul {
    position: sticky;
    top: 0rem;
    z-index: 1000;
    background-color: #650808;
    color: #fff;
    display: flex;
    justify-content: right;
    padding: 1rem;
    list-style: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

nav a {
    color: #ffffff;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.1rem;
}

nav a:hover {
    text-decoration: underline;
}

.responsive {
    width: 100%;
    height: auto;
  }
.container {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    width: 90%;
    margin: 30px auto 30px;
    border: 1px solid red;
}

.content .main-content {
    width: 70%;
   float: left;
   border: 1px solid blue;
}

.content .main-content .post {
    width: 95%;
    height: 270px;
    margin: 10px auto;
    border-radius: 5px;
    background: white;
}

.content .main-content .post .post-image {
    widows: 40px;
    height: 100%;
    float: left;
}

.content .main-content .topik-hangat-title {
  margin: 20px;  
}

.content .sidebar {
   width: 30%;
   float: left;
   border: 1px dashed green;
   height: 300px;
}

footer {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
